<%# ブレインストーミング　手順１　アイデア出し %>
<!--<p><%#= idea.idea_name %></p>-->

<link rel="stylesheet" type="text/css" href="brainstorming.scss">
<script>
    // $(document).ready( function(){
    //     advancelock();
    // });
    // function advancelock() {
    //     setTimeout("lock()", 3000);
    // }
    // function lock(){
    //     var guard = document.createElement("div"); // div要素作成
    //     guard.id = "lock"; // IDをstyle.cssで定義した名前にする
    //     guard.innerHTML = "<font color=\"White\">制限時間です</font>" // 何か表示したいものがあればここに
    //     document.body.appendChild(guard);  // div要素追加
    //     setTimeout("unLock()", 5000);
    // }
    // function unLock() {
    //     document.body.removeChild(document.getElementById("lock"));  // lockのdiv要素を削除
    // }
</script>

<script>
    // jQueryでSleepする方法
    function wait(sec) {
        // jQueryのDeferredを作成します。
        var objDef = new $.Deferred;
        setTimeout(function () {
            // sec秒後に、resolve()を実行して、Promiseを完了します。
            objDef.resolve(sec);
        }, sec*1000);
        return objDef.promise();
    };
    // waitはPromiseを返すので、doneをメソッド・チェーンできます。
    //wait(time1)
    wait(5).done(function () {
        var guard = document.createElement("div"); // div要素作成
        guard.id = "lock"; // IDをstyle.cssで定義した名前にする
        guard.innerHTML = "<font color=\"White\">制限時間</font>" // 何か表示したいものがあればここに
        document.body.appendChild(guard);  // div要素追加
        setTimeout("unLock()", 10000);
    });
    function unLock() {
        document.body.removeChild(document.getElementById("lock"));  // lockのdiv要素を削除
    }
</script>


<% @ideas.each do |f| %>
  <p><%= f.idea_name %></p>
<% end %>
<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'useridea_speaker' } %>

<div class="edit_body">
  <h3 class="theme">入力されたテーマ</h3>
  <div class="post_idea">
    <div class="ui fluid action input">
      <input type="text" placeholder="思いついたことを書いていきましょう">
      <button class="ui black button">OK</button>
    </div>
  </div>

  <div class="ui four cards process1_ideas">
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div><div class="teal card idea">
    <div class="content">
      あああああ
    </div>
  </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
  </div>
</div>

